*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #b7d194;

}

.question{
  color: #222918;
font-family: 'Heebo', sans-serif;
text-align: justify;
   padding: 6px;
  border-radius: 7px;
}

.answer{
  color: #3f403f;
    font-family: 'Roboto Mono', monospace;
   padding: 6px;
  border-radius: 7px;

}

#position {
	background-color: white;
	text-align:center;
  padding: 1px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	box-shadow: 2px 2px 4px black;
	position:fixed;
top:0%;
  right:0;
}


#columns{
   display: flex;
  width: 100%;
  height: 100px;
  flex: 1;
  color: white;
}
