
body {
    font-family: 'Roboto', sans-serif;
    background: #c1e35d; 
          
  }
  
  h1 {
    background: #c7d4a1;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
    
  }
  
  input {
    font-size: 18px;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    height: 40px;
    line-height: 40px;
    color: #666666;
  }
  
  span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
  }
  
  .fa-plus {
    float: right;
  }
  
  #container {
    width: 360px;
    margin: 100px auto; 
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    
  }
  
  
  li:nth-child(2n){
    background: #f7f7f7;
  }
  
  
  
  input:focus {
    background: white;
    border: 3px solid rgba(0,0,0,0);
  }
  
  .completed {
    color: gray;
    text-decoration: line-through;
  }
  
  span:hover {
    background: #bc3c2f;
  }
  
  li:hover span {
    width: 40px;
    opacity: 1.0;
  }
  
  